python-dotenv==1.1.1
langchain-core==0.3.75
langchain-experimental==0.3.4
langchain-openai==0.3.32
openai==1.106.1
langchain-text-splitters==0.3.11
langgraph==0.6.6
langsmith==0.4.25
anthropic==0.66.0
pypdf==6.0.0
gradio-client==1.12.1
gradio==5.44.1
pydantic==2.11.7